<div class="sidenav">
    <router-outlet></router-outlet>
    <a routerLink="home//tenis-nike">Nike</a>
    <a routerLink="home//tenis-adidas">Adidas </a>
    <a routerLink="home//tenis-puma">Puma </a>
    <a routerLink="home/tenis-vans">Vans </a>
    <a routerLink="home//tenis-fila">Fila </a>
    <a routerLink="home//tenis-converse">Converse </a>
    <a routerLink="home//tenis-new-balance">New Balance </a>
    <a routerLink="home//nike-dunk-low">Dunk-Low </a>
    <a routerLink="home//nike-jordan">Jordan </a>
    <a routerLink="home//adidas-yeezy">Yeezy </a>
  </div>